In [1]:
import sqlite3 as sq

In [8]:
conn=sq.connect("C:/23BCA288/database/employee1.db")

In [9]:
cur=conn.cursor()

In [10]:
cur.execute("create table if not exists emp(empid primary key,empname,salary)")

In [16]:
cur.execute("insert into emp values(101,'dhruvi',1000),(102,'ayushi',2000),(103,'ridhi',3000),(104,'payal',4000),(105,'palak',5000),(106,'dhruv',6000),(107,'harsh',7000),(108,'jay',8000)")

#all record print

In [17]:
cur.execute("select * from emp;")

In [18]:
r=cur.fetchall()

In [19]:
print(r)

[(101, 'dhruvi', 1000), (102, 'ayushi', 2000), (103, 'ridhi', 3000), (104, 'payal', 4000), (105, 'palak', 5000), (106, 'dhruv', 6000), (107, 'harsh', 7000), (108, 'jay', 8000)]